# Each website can access the API for their own domain.  This allows us
# to issue per-domain cookies for api.site.org instead of third-party
# cookies for api.sutty.nl that are going to be blocked anyway.
#
# We put a rate limit in API calls in a way that you can get a cookie
# for contact form and only POST it a minute later.  If you reply too
# quick you'll get a 503 error.  Cookies last 30 minutes so you can make
# 29 POSTs from it before having to renew it.
#
# Requests are limited per-visitor for now.  This opens up to (1440 *
# attacker) requests but limiting by site allows a single attacker to
# block requests for everyone else.
#
# {https://0xacab.org/sutty/sutty/issues/75}
limit_req_zone $binary_remote_addr zone=api:10m rate=1r/m;

server {
  server_name ~api.(?<domain>.+);
  access_log /var/log/nginx/access.log analytics;

  include snippets/acme.conf;
  include snippets/ssl.conf;

  # Handle limited request error by showing a page informing the visitor
  # they can retry in a minute.  If they don't have a custom 503 page,
  # we'll show Sutty's.
  proxy_intercept_errors on;
  error_page 503 /503.html;
  location = /503.html {
    root {{ directories.deploy }}/$domain/default;
    try_files /503.html @sutty503;
  }

  # Sutty returns 428 when it can't validate the information
  error_page 428 /428.html;
  location = /428.html {
    root {{ directories.deploy }}/$domain/default;
    try_files /428.html @sutty428;
  }

  location / {
    try_files nonexistent @api;

    location = /v1/sites/hidden_services.json {
      try_files nonexistent @api;
    }

    location = /v1/sites/add_onion.json {
      try_files nonexistent @api;
    }

    # This doesn't cover /v1/sites.json that's used by Certbot
    #
    # {https://0xacab.org/sutty/sutty/issues/123}
    location /v1/sites/ {
      limit_req zone=api;
      try_files nonexistent @api;
    }
  }

  # Show Sutty's 503 error page.
  location @sutty503 {
    root {{ directories.deploy }}/{{ sutty }}/default;
  }

  location @sutty428 {
    root {{ directories.deploy }}/{{ sutty }}/default;
    try_files /428.html /503.html;
  }

  location @api {
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Ssl on;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-Host $http_host;
    proxy_set_header Host $http_host;

    set $api panel.{{ delegate.hostname }}:3100;
    proxy_pass http://$api;
  }
}
