{% for host, addresses in email_hosts.items() %}
{% set dns_configuration_for_host = dns.domains | selectattr('name', 'equalto', host) | first %}
{% if dns_configuration_for_host is defined %}
{% if dns_configuration_for_host.email is not defined or dns_configuration_for_host.email %}
{{ host }}
{% endif %}
{% else %}
{% if not host in dns.removed_domains %}
{{ host }}
{% endif %}
{% endif %}
{% endfor %}
