"use strict";

module.exports = {
	public: false,
	host: undefined,
	port: 9000,
	bind: undefined,
	reverseProxy: true,
	maxHistory: 10000,
	https: { enable: false },
	theme: "default",
	prefetch: true,
	prefetchStorage: true,
	prefetchMaxImageSize: 2048,
	fileUpload: {
		enable: true,
		maxFileSize: 10240,
	},
	transports: ["polling", "websocket"],
	leaveMessage: "{{ sutty }}",
	defaults: {
		name: "{{ sutty }}",
		host: "ngircd",
		port: 6697,
		tls: true,
		rejectUnauthorized: false,
		nick: "{{ sutty }}%%",
		username: "{{ sutty }}",
		realname: "{{ sutty }}",
		join: "",
	},
	displayNetwork: false,
	lockNetwork: true,
	messageStorage: ["sqlite", "text"],
	useHexIp: false,
	webirc: null,
	identd: { enable: false, port: 113 },
	oidentd: null
};
