[Global]
  Name = {{ sutty }}

  AdminInfo1 = {{ sutty }}
  AdminInfo2 = {{ sutty }}
  AdminEMail = {{ email }}

  Info = {{ sutty }}

  MotdFile = /etc/motd
  PidFile = /tmp/ngircd.pid
  Ports =

  # XXX: Check https://0xacab.org/sutty/containers/ngircd
  ServerGID = 1000
  ServerUID = 100

[Limits]
  MaxConnections = 0
  MaxConnectionsIP = 0
  MaxJoins = 0
  MaxNickLength = {{ ngircd.users.nick_limit }}
  MaxPenaltyTime = -1
  MaxListSize = 0

  # XXX: Connection will be lost after 40s
  PingTimeout = 20
  PongTimeout = 20

[Options]
  # XXX: We pre-define available channels so this is empty
  AllowedChannelTypes =
  AllowRemoteOper = no
  CloakHost = {{ sutty }}
  CloakHostModeX = {{ sutty }}
  CloakUserToNick = yes

  DefaultUserModes = {{ ngircd.users.modes }}

  DNS = no
  Ident = no
  MorePrivacy = yes
  ScrubCTCP = yes

  OperChanPAutoOp = yes
  RequireAuthPing = yes

  PAM = no

[SSL]
  CertFile = /etc/letsencrypt/live/{{ sutty }}/fullchain.pem
  KeyFile = /etc/letsencrypt/live/{{ sutty }}/privkey.pem
  Ports = 6697

[Operator]
  Name = {{ sutty }}
  Password = {{ vault.ngircd.oper }}

{% for channel in ngircd.channels %}
[Channel]
  Name = {{ channel.name }}
  Topic = {{ channel.topic }}
  Modes = {{ channel.modes }}

{% endfor %}
