{{ inventory_hostname }}. IN SOA {{ inventory_hostname }}. {{ inventory_hostname }}. ( {{ dns.serial }} {{ dns.ttl }} {{ dns.ttl }} {{ dns.ttl }} {{ dns.ttl }} );
{% set node = nodes | selectattr('domain', 'equalto', inventory_hostname) | first %}
{{ inventory_hostname }}. IN A {{ node.address }}
{{ inventory_hostname }}. IN NS {{ inventory_hostname }}.
