server {
  server_name *.onion;
  access_log /var/log/nginx/access.log analytics;

  listen 80;

  add_header X-Frame-Options "sameorigin";
  add_header X-XSS-Protection "1; mode=block";
  add_header X-Content-Type-Options "nosniff";
  add_header Referrer-Policy "strict-origin-when-cross-origin";

  brotli_static on;
  gzip_static on;

  # Load site from the deployment directory
  root {{ directories.deploy }}/$host;

  # When 404, redirect to the 404.html page on the website
  error_page 404 =404 @404;

  # If it doesn't exist, redirect to Sutty's 404
  location @404 {
    try_files /default/404.html @404_site_not_found;
  }

  # The site doesn't exist!
  location @404_site_not_found {
    root {{ directories.deploy }}/{{ sutty }}/default;
    try_files /404_site_not_found.html =404;
  }

  # For migration purposes, we check if the full uri is a file, in case
  # the previous site didn't use pretty URLs, if not, try some other
  # routes or start searching for the correct 404.html
  #
  # The default type is HTML since nginx detects content type by
  # extension
  default_type "text/html";

  location / {
    try_files $request_uri $uri $uri/ =404;
  }
}
