---
version: 0.1
log:
  accesslog:
    disabled: true
  level: info
  formatter: text
  fields:
    service: registry
    environment: production
storage:
  filesystem:
    rootdirectory: {{ registry.directory }}
    maxthreads: 100
  maintenance:
    uploadpurging:
      enabled: true
      age: 168h
      interval: 24h
      dryrun: false
    readonly:
      enabled: false
auth:
  htpasswd:
    realm: registry
    path: {{ basic_auth.htpasswd }}
http:
  addr: 0.0.0.0:5000
  host: https://registry.{{ sutty }}
  secret: {{ vault.registry.secret }}
  relativeurls: false
  headers:
    X-Content-Type-Options: [nosniff]
