server {
  server_name rspamd.{{ sutty }};

  include snippets/acme.conf;
  include snippets/ssl.conf;

  location / {
    auth_basic "Rspamd";
    auth_basic_user_file {{ basic_auth.htpasswd }};
    set $rspamd rspamd:11334;
    proxy_pass http://$rspamd;
  }
}
