server {
  server_name secretos.{{ sutty }};
  access_log /var/log/nginx/access.log analytics;

  include snippets/acme.conf;
  include snippets/ssl.conf;

  location / {
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $http_host;

    set $secretos secretos:3000;
    proxy_pass http://$secretos;
  }
}
