$ORIGIN {{ sutty }}.
$TTL {{ dns.ttl }}

; The Start Of Authority sets information for replication.  Every node
; is going to be its own authority, so the information for replication is
; mostly unneeded, unless we start delegating to other providers.  In this
; case the delegation should be to one of the nodes.  For instance, to
; delegate zones to dns.he.net, we'd add a delegation to athshe, and then
; to delegate to freedns.afraid.org, we'd add a delegation to
; anarres.sutty.nl.  The expire information is kept intentionally low
; because our strategy is for each node to provide their own IP addresses
; in the A* records, so when they're down, the information goes away with
; them.  If we had a typical, hierarchical setup, we'd want them high so
; if the authoritative server is down, the delegates keep serving the
; information.
{{ sutty }}. IN SOA {{ inventory_hostname }}. {{ inventory_hostname }}. ( {{ dns.serial }} {{ dns.ttl }} {{ dns.ttl }} {{ dns.ttl }} {{ dns.ttl }} );

; The glue allows to solve nameservers located on the same domain.  They
; are added on the registrar side but we put them here to not forget
; they're needed.
{% for node in nodes %}
{{ node.name }} IN A {{ node.address }}
ns{{ node.ns }} IN A {{ node.address }}
{{ node.name }} IN NS {{ node.name }}
{% endfor %}

; Nameservers.  Each node is its own nameserver. A DNS resolver is going
; to pick one of these at random.
{% for node in nodes %}
@ IN NS {{ node.name }}.{{ sutty }}.
{% endfor %}

; A* Records. Here we just make the node publish its own IP addresses,
; so when they're down, the IP address goes away with them.  This way we
; don't have to monitor node status to update the DNS information
; accordingly.
@ IN A {{ ansible_facts.default_ipv4.address }}
* IN A {{ ansible_facts.default_ipv4.address }}

; Email servers.  Since email servers can retry and find other servers,
; if a server is down, incoming email will arrive at one or the other.  If
; all nodes are up, incoming email is distributed between them.
{% for node in nodes %}
@ IN MX 0 {{ node.name }}.{{ sutty }}.
* IN MX 0 {{ node.name }}.{{ sutty }}.
{% endfor %}

@ IN TXT "v=spf1 mx -all"
* IN TXT "v=spf1 mx -all"
_dmarc IN TXT "v=DMARC1; p={{ dns.dmarc.policy }}; rua=mailto:rua@{{ sutty }}; ruf=mailto:ruf@{{ sutty }}"

; Certificate Validation Delegate.  This node is delegated with issuing
; certificates.
certbot IN A {{ delegate.address }}
@ IN CAA 0 issue "letsencrypt.org"

; Sutty panel.  We delegate a node to host the panel and the rest only
; performs site replication.
{% for item in dns.delegate %}
{{ item }} IN A {{ delegate.address }}
{% endfor %}

{% if item.extra is defined %}
{% for extra in dns['extra'] %}
{{ extra }}
{% endfor %}
{% endif %}

; SSH server fingerprints.  Duration is extended because SSH servers are stable.
